/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.dark{
    background-color: black;
    color: #fff;
}

header{
    border-bottom: 1px solid gray;

}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.block__logo{
    display: flex;
    align-items: center;
}
.block__logo img{
    width: 50px;
    margin-right: 10px;
}
.block__logo span{
    font-family: Roboto;
    font-size: 24px;
}
.block__serting{
    display: flex;
}
.block__serting img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.block__settings{
    display: flex;
    align-items: center;
}
.settings__btn{
    font-family: Roboto;
    font-size: 14px;
    padding: 12px 14px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(37, 54, 243);
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 10px;
}
.settings__btn:hover{
    background-color: rgb(7, 20, 168);
}
.block__settings img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* Dark mode btn */
.dark-mode-btn{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58px;
    height: 29px;
    padding: 5px;
    border-radius: 50px;
    background-color: #272727;
}

.dark-mode-btn::before{
    content: "";
    position: absolute;
    top: 1px;
    right:1px;
    
    
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;

    transition: right 0.2s ease-in;
}
.dark-mode-btn--active::before{
    right: 30px;
}

.dark-mode-btn-icon{
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 9;
}

/* main */
.main__no-tasks{
    text-align: center;
    margin-top: 200px;
}
.main__no-tasks-title{
    font-family: Roboto;
}
.main__no-tasks-btn{
    font-family: Roboto;
    font-size: 14px;
    padding: 12px 14px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(37, 54, 243);
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 30px;
}
.main__no-tasks-btn:hover{
    background-color: rgb(7, 20, 168);
}

.block-task-counter{
    visibility: hidden;
    opacity: 0;
    margin: 150px 0 10px;
}
.block-task-counter.open{
    visibility: visible;
    opacity: 1;
}
.counter{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.total-task{
    font-family: Roboto;
    padding: 15px 40px;
    background-color: rgb(54, 69, 227);
    border: 1px solid rgb(19, 114, 239);
    color: #fff;
    border-radius: 5px;
}
.total{
    font-size: 18px;
}
.completed-tasks{
    font-family: Roboto;
    padding: 15px 40px;
    background-color: rgb(21, 165, 37);
    border: 1px solid rgb(12, 236, 8);
    color: #fff;
    border-radius: 5px;
}
.completed{
    font-size: 18px;
}

/*______________________________________________________________________NOtES*/
/* .notes{
    margin-top: 100px;
} */


.notes__title{
    font-family: Roboto;
    font-size: 24px;
    margin-bottom: 5px;
}
.list__group-item{
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(174, 171, 171);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
}
.note{
    display: flex;
    flex-direction: column;
}
.note span{
    margin-bottom: 10px;
}

.btn__success{
    color: #fff;
    padding: 14px 18px;
    background-color: rgb(7, 131, 22);
    border-radius: 5px;
    margin: 0 5px 0 20px;
    transition: 0.2s;
    cursor: pointer;
}
.btn__success:hover{
    background-color: rgb(8, 100, 19);
}
.btn__change{
    color: #fff;
    padding: 14px 16px;
    margin-left: 5px; 
    background-color: rgb(30, 17, 217);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.btn__change:hover{
    background-color: rgb(18, 7, 169);
}
.btn__danger{
    color: #fff;
    padding: 14px 18px; 
    background-color: rgb(196, 23, 23);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.btn__danger:hover{
    background-color: rgb(144, 6, 6);
}

/*_______________________________________________________________________MODAL */
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}
.modal.open{
    visibility: visible;
    opacity: 1;
}
.modal.open .modal__window{
    transform: scale(1);
}
.modal__window{
    margin: 0 auto;
    width: 650px;
    border: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 17px -7px rgba(34px, 60px, 80px, .4);
    position: relative;
    transform: scale(0);
    transition: .8s;
}
.modal__window-block-top{
    border-bottom: 1px solid gray;
}
.modal__block-top-title{
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}
.modal__block-top-title span{
    color: red;
}
.modal__form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.modal__form-input-title{
    font-family: Roboto;
    margin-bottom: 5px;
}
.modal__form-input{
    outline: none;
    font-family: Roboto;
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 15px;
}
.modal__form-input.error{
    box-shadow: 0 0 18px red;
    border: 2px solid red;
}

.modal__formtextarea-title{
    font-family: Roboto;
    margin-bottom: 5px;
}

.modal__form-textarea{
    outline: none;
    font-family: Roboto;
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 15px;
    resize: none;
}
.modal__form-textarea.error{
    box-shadow: 0 0 18px red;
    border: 2px solid red;
}

.modal__form-color-title{
    font-family: Roboto;
    margin-bottom: 5px;
}
.modal__form-input-color{
    margin-bottom: 15px;
}



/* radio form */
.modal__form-radio-title{
    font-family: Roboto;
    margin-bottom: 5px;
}

.modal__form-radio{
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    margin-bottom: 20px;
}
.modal__form-radio.error{
    box-shadow: 0 0 16px red;
    border: 2px solid red;
}

.form__radio{
    display: none;
}
.form__radio:checked + .label__form-radio::after{
    transform: scale(1);
}
.label__form-radio{
    font-family: Roboto;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    position: relative;
}
.label__form-radio::before{
    content: '';
    flex: 0 0 24px;
    height: 24px;
    border: 1px solid #272727;
    /* background-color:#272727; */
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.label__form-radio::after{
    transition: transform 0.3s ease 0s;
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #272727;
    border-radius: 50%;
    transform: scale(0);
}

.modal__buttons{
    display: flex;
}
.modal__button-ok{
    font-family: Roboto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(7, 131, 22);
    color: #fff;
    margin-right: 15px;
    transition: 0.2s;
    cursor: pointer;
}
.modal__button-ok:hover{
    background-color: rgb(8, 172, 22);
}
.modal__button-cancel{
    font-family: Roboto;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(238, 13, 13);
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}
.modal__button-cancel:hover{
    background-color: rgb(178, 11, 11);
}

.modal__window-close{
    position: absolute;
    top: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(238, 13, 13);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.2s;
    cursor: pointer;
}
.modal__window-close:hover{
    transform: scale(1.1);
}